
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	main {
		font-size: 1rem;
	}

	.inner-container {
		max-width: 100%;
		margin-inline: auto;
	}

	.header .ham-menu {
		display: none;
	}

	.sections__header {
		padding-inline: 1.5rem;
	}

	.nav_list {
		display: none;
	}

	.header {
		flex-direction: row;
		padding: 0.5rem 1.5rem;
	}

	.hero {
		margin-bottom: 7rem;
	}

	.hero.flex {
		flex-direction: column;
		gap: 3rem;
	}

	.hero__text {
		text-align: center;
		order: 1;
		padding-inline: 1rem;
	}

	.hero__text h1 {
		font-size: 1.8rem;
		line-height: 1.5;
	}

	.hero__text p {
		margin: 2rem 0.5rem;
	}

	.hero__image {
		width: 100%;
	}

	.hero-bg {
		bottom: 0;
		position: absolute;
		height: 13rem;
		/* transform: translate(70px, 54px); */
		/* width: 85%; */
	}

	.hero__buttons--container {
		display: flex;
		justify-content: space-around;
	}

	.btn {
		display: inline-block;
		padding: 0.6rem 1rem;
	}

	.feature-section__container {
		padding-inline: 1.5rem;
		text-align: center;
	}

	.feature-section h2 {
		font-weight: 700;
		font-size: 1.5rem;
	}
	.feature-section .margin-2 {
		margin: 1rem 0;
	}

	.sections__nav.flex {
		flex-direction: column;
		width: 100%;
	}
	.sections__nav li {
		/* display: block; */
		color: hsl(var(--darkGray));
		padding: 1rem 0;
		width: 100%;
		border-bottom: 1px solid hsl(var(--mediumGray));
		transition: color 0.5s ease;
	}

	.sections__nav li::after {
		display: block;
		content: '';
		border-bottom: 2px solid transparent;
		transform: translateY(17px);
		height: 4px;
	}

	.sections__nav li:focus {
		user-select: none;
		background-color: transparent;
	}

	.sections__nav li.active {
		color: #222222;
	}
	.sections__nav li.active::after {
		content: '';
		display: block;
		border: 2px solid hsl(var(--softRed));
		width: 10rem;
		transform: translateY(17px);
		margin-inline: auto;
	}

	.sections__nav li h3 {
		font-weight: 500;
	}

	.border-line {
		border: none;
	}
	.border-line::after {
		content: none;
	}
	.sections__nav.flex {
		gap: 0;
	}

	.sections__tab--content-details {
		flex-direction: column;
		--gap: 5rem !important;
	}

	.sections__nav--details-graphic {
		max-width: 20rem;
		width: 100% !important;
	}

	.sections__tab--content-details .bg-tab1,
	.sections__tab--content-details .bg-tab2,
	.sections__tab--content-details .bg-tab3 {
		height: 13rem;
		max-width: 19rem;
		transform: translate(-24px, 51px);
	}

	.sections__tab--content-details-text {
		text-align: center;
	}

	/* .sections__nav--details-text {padding-inline: 1rem;} */
	.sections__nav--details-text p {
		color: hsl(var(--darkGray));
		padding: 0 1rem;
	}

	.download-section {
		height: auto;
		margin: 5rem 0;
	}

	.download-section .sections__header {
		padding-inline: 2rem;
	}
	.download-section .sections__header h2 {
		font-weight: 700;
		font-size: 1.5rem;
		margin: 2rem 0 1rem;
	}

	.download-section .cards__container {
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	.download-section .card {
		width: 18rem;
	}

	.cards__container .card--text h4 {
		font-size: 1.2rem;
	}
	.cards__container .card--text h5 {
		font-size: 0.9rem;
		font-weight: 500;
	}

	.card.top,
	.card.middle,
	.card.bottom {
		align-self: auto;
		margin-bottom: 2rem;
	}

	.download-section .card .btn {
		font-size: 1rem;
		padding: 0.8rem 2.5rem;
	}

	.faq-section .sections__content {
		padding-inline: 2rem;
	}

	.faq-section .sections__content .detail-items:first-child {
		border-top: none;
	}
	.contactus-section {
		padding-inline: 2rem;
	}
	.contactus-section p {
		font-size: 0.7rem;
	}

	.contactus-section h3 {
		font-size: 1.6rem;
		width: 100%;
		/* padding: 0 1rem; */
	}

	.contactus-section form {
		flex-direction: column;
		width: 100%;
		margin: 2rem 0 5rem;
		height: 7rem;
		justify-content: space-between;
	}

	.contactus-section form .contactus-btn {
		max-width: 100%;
	}

	.error__image {
		transform: translate(275px, 12px);
	}

	.footer-section nav {
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
		gap: 2rem;
	}

	.footer-section .left-nav {
		flex-direction: column;
		margin: 1rem 0;
	}

	.footer-section .left-nav .logo {
		height: 25px;
		margin-bottom: 20px;
	}

	.footer-section .left-nav__list-items {
		flex-direction: column;
	}

	.footer-section .left-nav__list-items li {
		margin: 1rem 0;
	}
}


/* small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	main {
		font-size: 1rem;
	}
	.inner-container {
		max-width: 95%;
		margin-inline: auto;
		font-size: 1rem;
	}

	.header .ham-menu {
		display: none;
	}

	.nav_list {
		--gap: 3rem !important;
	}

	.hero__text {
		flex-shrink: 1.5;
	}
	.hero__text h1 {
		font-size: 1.8rem;
	}

	.hero .btn {
		padding: 0.5rem;
	}

	.download-section .cards__container {
		width: unset;
		margin: unset;
		display: flex;
		justify-content: space-between;
		height: 100%;
	}

	.footer-section nav,
	.footer-section .left-nav {
		flex-direction: column;
	}

	.footer-section .left-nav__list-items {
		margin: 2rem 0;
	}
}


@media only screen and (min-width: 900px) { 

	.footer-section nav,
	.footer-section .left-nav {
		flex-direction: row;
	}

	.hero__text {
		flex-shrink: unset;
		font-size: 1.125rem;
	}
	/* .hero__text p{
		width: 80%;
	} */

	.hero__text h1 {
		font-size: 3rem;
	}

	.hero .btn {
		padding: .6rem 2rem;
	}

}
