@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
	--clr-white: 255 100% 100%;
	--softBlue: 231 69% 60%;
	--softRed: 0 94% 66%;
	--grayishBlue: 229 8% 60%;
	--veryDarkBlue: 229 31% 21%;
	--lightGray: 0 0% 97%;
	--darkGray: 0 0% 60%;
	--mediumGray: 0 0% 85%;
}

/* ----------------- */
/* Reset             */
/* ----------------- */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
	list-style: none;
	padding-inline: 0;
	margin-inline: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: 'Rubik', sans-serif;
	font-size: 10px;
	font-weight: 400;
}

main {
	font-size: 1.125rem;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* -------------------- */
/* Utility classes      */
/* -------------------- */

.grid,
.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.no-gap {
	gap: unset;
}

.justify-between {
	justify-content: space-between;
	align-items: center;
}

.header__nav--left-side.justify-between {
	background-color: rgb(162, 162, 255);
}

.outter-container {
	max-width: 1440px;
	margin-inline: auto;
	/* background-color: pink; */
	font-size: 1.8em;
}

.inner-container {
	max-width: 75rem;
	margin-inline: auto;
}

.text-medium {
	font-weight: 500;
}
.text-bold {
	font-weight: 700;
}

.text-dark-gray {
	color: hsl(var(--darkGray));
}
.text-dark {
	color: hsl(var(--veryDarkBlue));
}

.center-text {
	text-align: center;
}
.center {
	margin-inline: auto;
}
.align-vertical {
	margin: auto 0;
}

.margin-2 {
	margin: 2rem 0;
}

.margin-5 {
	margin: 5rem 0;
}

.margin-right-1 {
	margin-right: 1rem;
}

.uppercase {
	text-transform: uppercase;
}

.btn {
	color: hsl(var(--clr-white));
	padding: 0.6rem 2rem;
	border-radius: 5px;
	border: none;
	box-shadow: -2px 2px 7px rgba(147, 147, 170, 0.3);
	cursor: pointer;
	border: 2px solid transparent;
	transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.primary {
	font-size: 0.8rem;
	background-color: hsl(var(--softBlue));
	padding-inline: 1.3rem;
}

.btn.primary:hover {
	color: hsl(var(--softBlue));
	background-color: hsl(var(--lightGray));
	border: 2px solid hsl(var(--softBlue));
}
.btn.secondary:hover {
	border: 2px solid hsl(var(--veryDarkBlue));
}

.secondary {
	font-size: 0.8rem;
	/* background-color: rgb(247, 247, 247); */
	background-color: hsl(var(--lightGray));
	padding-inline: 1.3rem;
	color: hsl(var(--veryDarkBlue));
}

.border-line {
	/* display: flex;
	flex-direction: column; */
	max-width: 45rem;
	height: 100%;
	border-bottom: 1px solid hsl(var(--mediumGray));
}
.border-line::after {
	display: block;
	width: calc(100% / 3);
	content: '';
	border-bottom: 4px solid hsl(var(--softRed));
	transform: translateX(calc(100% * 0));
}

.active {
	display: block;
}

.hidden {
	display: none;
}

/* -------------------- */
/* general classes      */
/* -------------------- */

.nav_list {
	letter-spacing: 1px;
	font-size: 0.8rem;
}
.nav__item,
.nav__item a {
	transition: color 0.2s ease;
}
.nav__item:hover,
.nav__item:hover a {
	color: hsl(var(--softRed));
	cursor: pointer;
}

/* .contactus-btn, */
.btn-login {
	border: 2px solid transparent;
	background-color: hsl(var(--softRed));
}

.btn-login:hover {
	background-color: hsl(var(--lightGray));
	border: 2px solid hsl(var(--softRed));
	/* color: #fff; */
}

.header {
	padding: 1rem;
}

.hero {
	margin: 3rem 0 5rem;
	padding-inline: 1rem;
}

.hero__text h1 {
	font-size: 3rem;
	line-height: 1;
}

.hero__image {
	width: 82rem;
	position: relative;
}

.sections__header {
	max-width: 34rem;
}
.sections__header h2 {
	color: hsl(var(--veryDarkBlue));
	font-size: 2rem;
}

.sections__header p {
	color: hsl(var(--darkGray));
}

.sections__nav {
	width: 100%;
	margin: 2rem auto;
	justify-content: center;
	cursor: pointer;
}
.sections__nav li {
	width: calc(100% / 3);
}

.sections__nav--details-graphic {
	max-width: 110rem;
	width: 100%;
}
/* .tab3 .sections__nav--details-graphic{
	width: 80rem;

}  */
.tab2 .sections__nav--details-graphic,
.tab3 .sections__nav--details-graphic {
	width: 78rem;
}

.sections__nav--details-graphic img {
	width: 100%;
}

.sections__nav--details-text h2 {
	font-size: 1.9rem;
}

.download-section {
	height: 44rem;
	display: flex;
	flex-direction: column;
	margin: 10rem 0 5rem;
}

.download-section .cards__container {
	width: calc(16rem * 3);
	margin: 3rem auto;
	display: flex;
	justify-content: space-between;
	/* max-height: 20rem;*/
	height: 100%;
}

.download-section .card {
	width: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	overflow: hidden;
	/* background-color: pink; */
	height: 22rem;
	border-radius: 10px;
	/* gap: 1.5rem; */
	padding: 3rem 0 1.5rem;
	box-shadow: hsla(231, 69%, 60%, 0.151) 0px 10px 15px -3px, hsla(231, 69%, 60%, 0.1) 0px 4px 8px -2px;
}

.card--text {
	margin-top: 1rem;
}

.card--text h5 {
	margin: unset;
	margin-top: 0.5rem;
	font-size: 0.8rem;
}

.card.top {
	align-self: flex-start;
}
.card.middle {
	align-self: center;
}
.card.bottom {
	align-self: flex-end;
}

.faq-section {
	/* margin: 8rem 0; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.faq-section button {
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.faq-section .sections__header {
	margin-inline: auto;
	text-align: center;
	max-width: 33rem;
}
.faq-section .sections__header p {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.faq {
	max-width: 35rem;
	width: 100%;
	margin-inline: auto;
	/* background-color: lightblue; */
}

.sections__content .detail-items {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	border-top: 2px solid hsl(var(--mediumGray));
	/* border-bottom: 2px solid #ddd; */
	cursor: pointer;
}

.sections__content .detail-items:last-child {
	border-bottom: 2px solid #ddd;
}

.sections__content .detail-items > .arrow {
	transform: translateX(-15px);
}

.sections__content .detail-items summary {
	list-style: none;
	font-weight: 500;
	transition: color 0.2s ease;
}

.sections__content .detail-items:hover summary {
	color: hsl(var(--softRed));
}

.sections__content .detail-items p {
	margin: 2rem 0;
	line-height: 2;
	color: hsl(var(--darkGray));
}

/* ======= Contact Us ======= */

.contactus-section {
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-inline: unset !important;
	background-color: hsl(var(--softBlue));
}

.contactus-section p {
	text-transform: uppercase;
	font-size: 1rem;
	padding: 5rem 0 1rem;
	letter-spacing: 6px;
}

.contactus-section h3 {
	line-height: 1.3;
	font-weight: 500;
	text-align: center;
	font-size: 2.5rem;
	width: 35rem;
	padding: 1rem 0;
}

.contactus-section form {
	display: flex;
	column-gap: 1rem;
	width: 35rem;
	padding: 1rem 0 5rem;
}
.contactus-section input {
	font-size: 1rem;
	width: 100%;
	padding: 0.8rem 1.5rem;
	border-radius: 5px;
	border: none;
}

.contactus-section .form__input--error {
	width: 100%;
	max-height: 50px;
	height: 100%;
}

.contactus-section input.error {
	border: solid 2px hsl(var(--softRed));
	border-radius: 10px;
	z-index: 2;
	position: relative;
}

.error__image {
	z-index: 3;
	width: 25px;
	height: 25px;
	position: absolute;
	transform: translate(340px, 12px);
}

.error__image img {
	max-width: 100%;
	width: 100%;
}

span.error {
	position: relative;
	z-index: 1;
	padding: 1rem 0.7rem;
	font-size: 1rem;
	font-style: italic;
	padding: 1rem 1rem 0.5rem;
	display: block;
	background-color: hsl(var(--softRed));
	transform: translateY(-8px);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.contactus-section input:focus {
	outline: none;
}

.contactus-section input::placeholder {
	color: hsl(var(--darkGray));
}

.contactus-section .contactus-btn {
	width: 100%;
	max-width: 10rem;
	letter-spacing: 1px;
	padding-inline: 1rem;
	font-size: 1rem;
	font-weight: 500;
	color: #fff;
	background-color: hsl(var(--softRed));
	/* border: 2px solid hsl(var(--softRed)); */
}

.contactus-btn:hover {
	background-color: hsl(var(--lightGray));
	border: 2px solid hsl(var(--softRed));
	color: hsl(var(--softRed));
}

/* ======= Footer section ======== */
.footer-section {
	background-color: hsl(var(--veryDarkBlue));
	padding: 2rem 0;
}
.footer-section .left-nav {
	display: flex;
	align-items: center;
	column-gap: 5rem;
}
.footer-section nav {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 100;
	color: #fff;
	display: flex;
	justify-content: space-between;
	/* flex-direction: column; */
}

.footer-section .left-nav__list-items {
	display: flex;
	margin: 0;
}

.footer-section .left-nav__list-items a {
	margin-inline: 2rem;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s ease;
}
.footer-section .left-nav__list-items a:hover {
	color: hsl(var(--softRed));
}

.footer-section .social-media-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 3rem;
}

.footer-section .social-media-logo a {
	display: flex;
	justify-self: center;
	align-items: center;
	max-height: 24px;
	height: 100%;
}

.footer-section .social-media-logo a path {
	transition: fill 0.2s ease;
}
.footer-section .social-media-logo a:hover path {
	fill: hsl(var(--softRed));
}

.attribution {
	color: #fff;
	display: block;
	background-color: hsl(var(--veryDarkBlue));
}

.attribution a {
	letter-spacing: 1px;
	color: #fff;
}

.bg-tab1 {
	height: 20rem;
	max-width: 40rem;
	transform: translate(-170px, 90px);
}
.bg-tab2 {
	transform: translate(-170px, 113px);
	height: 28rem;
	max-width: 42rem;
}
.bg-tab3 {
	transform: translate(-170px, 100px);
	height: 28rem;
	max-width: 42rem;
}

.small-round-bg {
	z-index: -1;
	display: block;
	background-color: hsl(var(--softBlue));

	width: 100%;
	position: absolute;
}

.right {
	border-bottom-right-radius: 15rem;
	border-top-right-radius: 15rem;
}

.left {
	border-bottom-left-radius: 15rem;
	border-top-left-radius: 15rem;
}

.hero-bg {
	top: 0;
	position: absolute;
	height: 20rem;
	transform: translate(174px, 133px);
}
