@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
	/* Primary */
	--primarySoftBlue: hsl(231, 69%, 60%);
	--primarySoftRed: hsl(0, 94%, 66%);

	/* Neutral */
	--neutralBlue: hsl(229, 8%, 60%);
	--neutralDarkBlue: hsl(229, 31%, 21%);

	/* colors */
	--headerColor: #636376;
	/*--lightGray: #9393aa;*/
	--lightGray: #afafb3;
	--darkGray: #44444b;
	--smallFont: 15px;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	font-size: 10px;
	font-family: 'Rubik', sans-serif;
	/* max-width: 1440px; */
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.125rem;
}

/* section {
	/* padding: 75px 0; *
} */

.container {
	/* display: flex;
    flex-direction: column;
    justify-content: center; */
	width: 1440px;
	margin: 0 auto;
}

.small-round-bg {
	/* position: absolute; */
	width: 750px;
	height: 460px;
	background-color: var(--primarySoftBlue);
	z-index: -1;
}

.left {
	border-top-left-radius: 250px;
	border-bottom-left-radius: 250px;
}
.right {
	border-top-right-radius: 250px;
	border-bottom-right-radius: 250px;
}

.header {
	padding: 65px 0;
	color: var(--headerColor);
	font-size: var(--smallFont);
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 500;
}

.header__nav--right-side {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__nav--left-side {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 550px;
}

.nav__item {
	list-style: none;
	width: 125px;
	text-align: center;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}

.nav__item:hover {
	color: #fd5756;
	cursor: pointer;
}

.nav__item .btn-login {
	padding: 7px 25px;
	letter-spacing: 1px;
	background: hsl(0, 98%, 66%);
	color: #fff;
	border-radius: 5px;
	border: 2.5px solid #c85157;
	transition: all 0.3s ease;
}

.nav__item:hover .btn-login {
	/*background: hsl(0, 100%, 55%);*/
	background: transparent;
	color: #c85157;
}

.hero {
	display: flex;
	align-items: center;
}

.hero__image {
	flex: 1;
	/*width: 750px;*/
	position: relative;
	top: 15px;
}

.hero__image #image {
	height: 38rem;
}

.hero__image .small-round-bg {
	position: absolute;
	top: 164px;
	left: 266px;
}

.hero__text {
	min-width: 665px;
	padding-right: 80px;
	/*letter-spacing: 1px;*/
}

.hero h1 {
	font-size: 3.3rem;
	font-weight: 500;
}

.hero h3 {
	color: var(--lightGray);
	line-height: 1.6;
	margin: 30px 0;
	letter-spacing: 0.8px;
}

.btn {
	display: inline-block;
	padding: 15px 25px;
	font-size: 0.9rem;
	border-radius: 5px;
	letter-spacing: 0.9px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	transition: all 0.2s ease;
	border: 2px solid transparent;
}

.btn + .btn {
	margin-left: 20px;
}

.btn.primary {
	box-shadow: -2px 2px 7px rgba(147, 147, 170, 0.3);
	background-color: var(--primarySoftBlue);
	color: #fff;
}

.btn.primary:hover {
	box-sizing: border-box;
	color: var(--primarySoftBlue);
	background: #fff;
	border: 2px solid var(--primarySoftBlue);
}

.btn.secondary {
	box-shadow: -2px 2px 7px rgba(147, 147, 170, 0.3);
	color: var(--lightGray);
	background-color: #f7f7f7;
}

.btn.secondary:hover {
	box-sizing: border-box;
	color: var(--darkGray);
	background: #fff;
	border: 2px solid var(--darkGray);
}

.sections__header {
	text-align: center;
	padding: 5rem 0;
	font-size: 1rem;
}

.sections h2 {
	font-size: 2rem;
	font-weight: 500;
	margin: 20px 0;
}

.sections h3 {
	padding: 0 27rem;
	text-align: center;
	margin: 0 auto;
	color: var(--lightGray);
	line-height: 1.5;
}

.feature-section__tabs--header {
	position: relative;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 6rem;
}

.sections .sections__nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(209, 208, 208);
	margin: 0 auto;
	width: 800px;
}

.sections .sections__nav .nav__item {
	letter-spacing: 0px;
	font-size: 1rem;
	width: 100%;
	cursor: pointer;
	padding-bottom: 1.5rem;
	color: gray;
}

.sections .sections__nav .nav__item:hover {
	color: var(--primarySoftRed);
}

.sections .sections__nav .nav__item.active {
	color: rgb(34, 34, 34);
	/* border-bottom: 2px solid var(--primarySoftRed); */
	/* transform: translateX(100px); */
}

.active-slide {
	display: block;
	position: relative;
	top: -5px;
	width: calc(100% / 3);
	height: 5px;
	background-color: var(--primarySoftRed);
	transition: transform 0.3s ease-in-out;
}

.feature-section__tabs--content {
	width: 100%;
	position: relative;
}

.sections__tab--content-details {
	display: flex;
	justify-content: space-between;
	width: 70rem;
	margin-bottom: 5rem;
}

.sections__tab--content-details.tab1 .small-round-bg,
.sections__tab--content-details.tab2 .small-round-bg,
.sections__tab--content-details.tab3 .small-round-bg {
	bottom: -25px;
	position: absolute;
	width: 700px;
	height: 390px;
	left: calc(55% - 950px);
}

.sections__nav--details {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 5rem;
}

.sections__nav--details-graphic {
	position: relative;
}

.sections__tab--content.active {
	display: block;
}

.sections__tab--content.hidden {
	display: none;
}

.sections__nav--details-graphic img.tab-1-image {
	height: 22rem;
	/* width: 650px; */
}
.sections__nav--details-graphic img.tab-2-image,
.sections__nav--details-graphic img.tab-3-image {
	height: 28rem;
}

.sections__tab--content-details.tab1 .small-round-bg {
	bottom: -127px;
}

/* .feature-section .small-round-bg {
	bottom: -50px;
	position: absolute;
	width: 450px;
	height: 390px;
} */

.sections__nav--details-text {
	padding-top: 4rem;
	text-align: left;
	width: 460px;
}
.sections__nav--details-text h2 {
	font-size: 2.2rem;
}
.sections__nav--details-text h3 {
	padding: 0;
	text-align: left;
	margin-bottom: 25px;
	letter-spacing: 0.5px;
	font: 1.2rem;
}

/* card section */

.download-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cards__container {
	display: flex;
	justify-content: space-between;
	width: 800px;
	margin-bottom: 60px;
	height: 400px;

	/* flex-basis: 300px; */
}

.top {
	align-self: flex-start;
}
.middle {
	align-self: center;
}

.bottom {
	align-self: flex-end;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0 20px;
	width: 250px;
	height: 300px;
	border-radius: 10px;
	/* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
	box-shadow: hsla(231, 69%, 60%, 0.151) 0px 10px 15px -3px, hsla(231, 69%, 60%, 0.1) 0px 4px 8px -2px;

	/* overflow: hidden; */
}

.card .card--img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 125px;
}

.card .card--img img {
	width: 75px;
}

.card .card--text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 30px;
	/* border-bottom: 2px dotted gray; */
}

.card h4 {
	font-size: 1rem;
	letter-spacing: 0.4px;
	font-weight: 500;
}

.card h5 {
	/* letter-spacing: .5px; */
	font-size: 0.8rem;
	color: #afafb3;
}

.card .dotted--line {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 35px;
}

/* .dotted--line line {
	stroke: #dbdbdb;
} */
.card .btn {
	padding: 10px 18px;
	font-size: 0.7rem;
	/* margin: 20px 0; */
}

.faq-section {
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 600px; */
	margin: 0 auto;
	margin-bottom: 10rem;
}

.faq-section .sections__header {
	padding-bottom: 4rem;
}
.faq-section .container {
	width: 500px;
}

.faq-section h3 {
	padding: 0;
}

.sections__content.faq {
	/* width: 1400px; */
	justify-self: start;
	align-self: flex-start;
	border-top: 1px solid rgb(221, 221, 221);
	border-bottom: 1px solid rgb(221, 221, 221);
	margin-bottom: 3rem;
}

.detail-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	padding-right: 20px;
	position: relative;
}

.detail-items div {
	position: absolute;
	right: 20px;
	top: 20px;
	height: 30px;
	/* transform-origin: center center; */
	/* background-color: #fd5756; */
	height: 18px;
	width: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateZ(0deg);
	/* transition: transform .3s ease; */
}

.detail-items details[open] + div {
	transform: rotateZ(180deg);
}

.faq details > summary {
	font-size: 1rem;
	list-style: none;
	transition: all 0.3s ease-in-out;
}

.faq .detail-items:hover {
	color: var(--primarySoftRed);
	cursor: pointer;
	height: 100%;
}
.faq .detail-items.open svg > path {
	stroke: var(--primarySoftRed);
	cursor: pointer;
	height: 100%;
}

.faq .detail-items + .detail-items {
	border-top: 1px solid rgb(221, 221, 221);
}

.faq details > p {
	padding: 25px 0;
	font-size: 0.9rem;
	line-height: 2;
	color: rgb(148, 148, 148);
}

.faq .detail-items.active svg path {
	fill: var(--primarySoftRed);
}

.faq-section .btn {
	font-size: 0.8rem;
	padding: 15px 20px;
}

.contactus-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding: 5rem 10rem;
	background-color: #5669de;
	text-align: center;
}

.contactus-section h5 {
	font-size: 0.9rem;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.contactus-section h2 {
	width: 33rem;
	font-size: 2.5rem;
	margin-bottom: 50px;
}

.contactus-section .form__input--error {
	display: flex;
	flex-direction: column;
}

.contactus-section form {
	display: flex;
}

.contactus-section form input {
	padding: 1rem;
	border-radius: 5px;
	width: 22rem;
	font-size: 1rem;
	margin-right: 15px;
	/* color:#525252; */
}
.contactus-section form input::placeholder {
	color: #cacaca;
}

/* .contactus-section form span{
	/* display: flex; *
	padding: 0 20px;
} */

.contactus-section form input.error {
	border: 3px solid var(--primarySoftRed);
}

.contactus-section #email-error-message.error-message {
	display: block;
	width: 95.7%;
	padding: 5px 10px;
	font-size: 0.9rem;
	text-align: left;
	background-color: var(--primarySoftRed);
	margin-top: -3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.contactus-section .contactus-btn {
	/* padding: 5px; */
	align-self: flex-start;
	color: #fff;
	background-color: var(--primarySoftRed);
	/* var(--primarySoftRed) */
}

.contactus-section .contactus-btn:hover {
	/* padding: 5px; */
	color: var(--primarySoftRed);
	background-color: #fff;
	border: 2px solid var(--primarySoftRed);
}

.footer-section {
	background-color: #181d30;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-section nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	padding: 2rem 0;
}

.footer-section .left-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
}

.footer-section .left-nav path {
	fill: #fff;
}
.footer-section .left-nav__list-items {
	font-size: 0.75rem;
	letter-spacing: 2px;
	list-style: none;
	border-bottom: none;
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.footer-section .left-nav__list-items a,
.footer-section .social-media-logo a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}
.footer-section .social-media-logo a path {
	transition: fill 0.5s ease;
}

.footer-section .left-nav__list-items a:hover,
.footer-section .social-media-logo a:hover path {
	fill: var(--primarySoftRed);
	color: var(--primarySoftRed);
}

.footer-section .social-media-logo {
	width: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.attribution {
	justify-self: flex-end;
	margin-bottom: 5px;
	font-size: 0.7rem;
	letter-spacing: 0.5px;
}

.attribution a:link {
	color: #6477f1;
}
